node_modules/
build/
dist-vite/
*.log
.DS_Store

# IDE
.vscode/

# FTP
.ftp_cache.json
.ftprules

# Package managers
package-lock.json
pnpm-lock.yaml

# Backups & temp
dist_backup/
ignore/
experimental/

# Scripts & docs (if not needed in repo)
git-message.txt
analyse
deploy.bat
